{% comment %} Div or section with two headers? {% endcomment %}

{% if lang == 'EN' %}
{% assign type = event.event.type_en %}
{% assign title = event.event.title_en %}
{% assign content = event.event.content_en %}
{% else %}
{% assign type = event.event.type_nl %}
{% assign title = event.event.title_nl %}
{% assign content = event.event.content_nl %}
{% endif %}

{% if  %}
<div class="details-position">
  <div class="details-wrapper">

    <details class="about" open name="about&relations-switch">
      <summary>
        {% if lang == 'EN' %}
        About
        {% else %}
        Over
        {% endif %}
      </summary>

      <h2>{{ title }}</h2>

      <ul>
        <li class="type">
          <h3>
            {% if lang == 'EN' %}
            Type
            {% else %}
            Type
            {% endif %}
          </h3>
          <ul>
            <li>{{ type }}</li>
          </ul>
        </li>
        <li class="artist">
          {% comment %} Better element for this? {% endcomment %}
          <h3>
            {% if lang == 'EN' %}
            Artist
            {% else %}
            Artiest
            {% endif %}
          </h3>
          {% for rel in event.relationships %}
          {% if rel.node == "Person" %}
          {% for artist in allArtists %}
          {% if rel.uuid == artist.person.uuid %}
            <p>{{ artist.person.name }}</p>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </li>
        <li class="date">
          <h3>
            {% if lang == 'EN' %}
            Date
            {% else %}
            Datum
            {% endif %}
          </h3>
          <p>{{ event.event.year }}</p>
        </li>
      </ul>
      <hr>

      <img src="{{ event.imageUrl }}" alt="{{ event_title }}" class="category-image" loading="lazy">

      <p>{{ content }}</p>
    </details>

    <details class="relations" name="about&relations-switch">
      <summary>
        {% if lang == 'EN' %}
        Relations
        {% else %}
        Relaties
        {% endif %}
      </summary>

      <h2>{{ title }}</h2>

      {% comment %} <img src="{{ event.imageUrl }}" alt="Cover picture of the{{ type  }} {{ event_title }}" class="cover-img" loading="lazy"> {% endcomment %}

      <ul class="relations-list">
        {% for rel in event.relationships %}
        {% if rel.node == "Person" %}
        {% for artist in allArtists %}
        {% if rel.uuid == artist.person.uuid %}
        <li>
          <a href="">
            <img src="{{ artist.imageUrl }}" class="relation-img" alt="Portrait picture of {{ artist.person.name }}, who has had a role in this {{ type }}">
            <h3>{{ artist.person.name }}</h3>
          </a>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
      </ul>

      {% comment %} <section class="relation-carousel">
        <input type="radio" id="radio-1" name="radio-card" checked>

        <article class="relation-content" style="--angle:4deg">
          {% for rel in event.relationships %}
          {% if rel.node == "Person" %}
          {% for artist in allArtists %}
          {% if rel.uuid == artist.person.uuid %}

          <img class="relation-image-carousel" src="{{ artist.imageUrl }}">
            <div class="relation-data">
              <span class="card-num" aria-label="relation">1/7</span>
              
                <h2>{{ artist.person.name }}</h2>
              <div class="labels">
                <label for="radio-7" aria-label="Previous">&#10094;</label>
                <label for="radio-2" aria-label="Next">&#10095;</label>
              </div>
            </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </article>
      </section> {% endcomment %}

    </details>

  </div>
</div>