{% layout "server/layouts/base.liquid" %}

{% block content %}
<main>


<section class="data-scroll">
  <ul class="home-data">

    {% assign unique_types = [] %}
    {% for type in allEventTypes %}
      {% if type.nl and type.nl != "" and type.nl != blank %}
        {% unless unique_types contains type.nl %}
          {% assign unique_types = unique_types | push: type.nl %}

          {% for item in allEvents %}
            {% if item.event.type_nl == type.nl %}
              {% assign type_class = type.nl | downcase | replace: " ", "-" | replace: "'", "" | replace: ",", "" %}
              <li class="item" tabindex="0">
                <a href="/archive/{{ item.event.uuid }}">
                  <div>
                    <strong>{{ item.event.title_nl }}</strong> 
                    <h2 class="type-label {{ type_class }}">{{ type.nl }}</h2>
                  </div>
                  <img src="{{ item.imageUrl }}" alt="{{ item.event.title_nl }}" class="category-image" loading="lazy">
                </a>
              </li>
            {% endif %}
          {% endfor %}

        {% endunless %}
      {% endif %}
    {% endfor %}

  </ul>
</section>

</main>

{% endblock %}

