{% layout "server/layouts/base.liquid" %}

{% block content %}
<main> 

    <h1>Titel</h1>

  
    <search>
      <form method="post" action="/filter">
        <label for="searchData">Zoeken:</label>
        <div>
          <input type="search" id="searchData" name="search" value="{{ query }}" />
          <select name="type">
            <option value="all" {% if filter == 'all' or not filter %}selected{% endif %}>All</option>
            <option value="artists" {% if filter == 'artists' %}selected{% endif %}>Artists</option>
            <option value="events" {% if filter == 'events' %}selected{% endif %}>Events</option>
          </select>
          <button type="submit">Zoek</button>
        </div>  
      </form>
    </search>
    
            <ul>
              {% for event in allEvents %}
                <li>
                  <h2>{{ event.node.title_NL }}</h2>
                  <p>{{ event.type }}</p>
                  <p>{{ event.node.ff_id }}</p>
                  <p>{{ event.node.year }}</p>
            
                  <ul>
                    {% for rel in event.rels %}
                      <li>{{ rel.type }}</li>
                    {% endfor %}
                  </ul>
            


                  <form method="POST" action="/show-artists">
                    <input type="hidden" name="event_id" value="{{ event.node.ff_id }}">
                    <button type="submit">Show Related Artists</button>
                  </form>
                </li>
              {% endfor %}
            </ul>
            
          


          <ul>
            {% for artist in allArtists %}
              <li>
                <h2>{{ artist.name }}</h2>
                <p>{{ artist.ff_id }}</p>
              <ul>
                {% for rel in artist.relations %}
                  <li>{{ rel.rel }}</li>
                  <li>{{ rel.object.title_NL }}</li>
                {% endfor %}
              </ul>
              </li>
            {% endfor %}
          </ul>
       
</main>

{% endblock %}


