<ul class="breadcrumbs">
  {% for crumb in breadcrumbs %}
    {% if crumb.icon == 'home' %}
        <li class="crumb add-arrow">
            <a href="{{ crumb.url }}">
                {% render '../icons/home.liquid' %}
                {{ crumb.name }}
            </a>
        </li>
    {% elsif crumb.icon == 'overview' %}
        <li class="crumb add-arrow">
            <a href="{{ crumb.url }}">
                {% render '../icons/overview.liquid' %}
                {{ crumb.name }}
            </a>
        </li>
    {% endif %}
  {% endfor %}
  <li class="crumb is-current">
    {% if currentIcon == 'person'  %}
      {% render '../icons/artist.liquid' %}
    {% elsif currentIcon == 'event' %}
      {% render '../icons/event.liquid' %}
    {% else %}
      {% render '../icons/overview.liquid' %}
    {% endif %}
    {{ currentName }}
  </li>
</ul>