{% comment %}
/* //////////////////////// */
/* 🪩🪩🪩 ARCHIVE PAGE 🪩🪩🪩 */
/* //////////////////////// */
{% endcomment %}

  {% comment %} <p>Results: {{ event_count }} event{% if event_count != 1 %}s{% endif %}</p> {% endcomment %}
  <table class="text">
    <tr class="table-header">
      <th>
        #
      </th>
      <th>
        <p>Title</p>
      </th>
      <th>
        <p>Type</p>
      </th>
      <th>
        <p>Date</p>
      </th>
      <th>
        <p>Participants</p>
      </th>

    </tr>
    {% for item in allEvents %}
    {% if lang == "EN" %}
    {% assign eventTypeToCheck = item.event.type_en %}
    {% assign eventTitleToShow = item.event.title_en %}
    {% else %}
    {% assign eventTypeToCheck = item.event.type_nl %}
    {% assign eventTitleToShow = item.event.title_nl %}
    {% endif %}

    {% if selectedEvent == "all" or not selectedEvent or eventTypeToCheck == selectedEvent %}
    {% assign row_index = row_index | plus: 1 %}

    <tr class="archive-item">
      <td tabindex="-1"><a href="/{{ lang }}/archive/{{ eventTypeToCheck }}/{{ item.event.uuid }}"
          class="link-detail"></a></td>
      <td tabindex="-1">
        <p class="archive-number">{{ forloop.index }}</p>
      </td>
      <td tabindex="0">
        <h2 class="text">
          {% if lang == "EN" %}
          {{ eventTitleToShow | downcase | replace: 'exhibition', '' | replace: 'launch', '' | replace: 'debate', '' |
          replace: 'symposium', '' | replace: 'public program', '' | replace: 'performance', '' | replace: 'film
          screening', '' | replace: 'talk', '' | replace: 'educational program', '' | replace: ':', '' | strip }}
          {% else %}
          {{ eventTitleToShow | downcase | replace: 'expositie programma', '' | replace: 'expositie', '' | replace:
          'lancering', '' | replace: 'debat', '' | replace: 'symposium', '' | replace: 'publiek programma', '' |
          replace: 'film vertoning', '' | replace: 'filmvertoning', '' | replace: 'lezing', '' | replace: 'educatief
          programma', '' | replace: ':', '' | strip }}
          {% endif %}
        </h2>
      </td>
      <td class="archive-type" td tabindex="0">
        <div class="types {{ eventTypeToCheck | downcase | replace: ' ', '-' }}"></div>
        <p>{{ eventTypeToCheck }}</p>
      </td>
      <td td tabindex="0">
        {% assign start = item.event.date_start %}
        {% assign end = item.event.date_end %}

        {% if start == "null" or start == blank or start == nil or end == blank or end == nil %}
        {% if lang == 'EN' %}
        <p>One day event</p>
        {% else %}
        <p>Eendaags event</p>
        {% endif %}
        {% else %}
        {% if lang == 'EN' %}
        <p>{{ start | date: "%-d %B %Y" }} till {{ end | date: "%-d %B %Y" }}</p>
        {% else %}
        <p>{{ start | date: "%-d %B %Y" }} t/m {{ end | date: "%-d %B %Y" }}</p>
        {% endif %}
        {% endif %}
      </td>
      <td class="participants" td tabindex="0">
        {% assign relevant_artists = '' | split: ',' %}
        {% for rel in item.relationships %}
        {% if rel.node == "Person" %}
        {% for artist in allArtists %}
        {% if rel.uuid == artist.person.uuid %}
        {% assign relevant_artists = relevant_artists | push: artist.person.name %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% for name in relevant_artists %}
        {{ name }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </td>
      <td><img src="{{ item.imageUrl }}" alt="{{ eventTitleToShow }}" td tabindex="0"
          class="category-image {{ eventTypeToCheck | downcase | replace: ' ', '-' }}" loading="lazy"></td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

  <div class="pagination pagination-bottom"></div>


